{% extends 'shared/navigation_bar.html' %}

{% block javascript %}
    <script>

    </script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/all_jobs_page_style.css">

    {% include 'shared/search_filter_job_section.html' %}

    {% include 'shared/jobs_context_box.html' %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?work_category={{ request.GET.work_category }}&work_type={{ request.GET.work_type }}&page=1">&laquo;
                        Първа</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?work_category={{ request.GET.work_category }}&work_type={{ request.GET.work_type }}&
                       page={{ page_obj.previous_page_number }}">Предишна</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">&laquo; Първа</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Предишна</a>
                </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link"
                                         href="?work_category={{ request.GET.work_category }}&work_type={{ request.GET.work_type }}&page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?work_category={{ request.GET.work_category }}&work_type={{ request.GET.work_type }}&
                       page={{ page_obj.next_page_number }}">Следваща</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?work_category={{ request.GET.work_category }}&work_type={{ request.GET.work_type }}&
                       page={{ page_obj.paginator.num_pages }}">Последна
                        &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="+1">Следваща</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="">Последна &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <br/><br>

    {% include 'shared/footer.html' %}

{% endblock %}