{% extends 'shared/navigation_bar.html' %}

{% block content %}
    {% include 'messages/general_message_template.html' %}

    <section class="main_upper_section">
        <img src="/static/images/logo.png" alt="logo"/>
        <div class="main_upper_section_text">
            <h1>Платформа за работа.</h1>
            <h2>Сподели обява с няколко клика.</h2>


            {#            <p>С нас работиш, когато искаш и колкото поискаш. Без дългосрочни договори и излишни#}
            {#                интервюта.</p>#}
            <div class="subsection_button">
                <button type="submit" class="btn_submit center_button">
                    <a href="{% url 'create job' %}">Създай обява</a>
                </button>
            </div>
        </div>

        {% include 'shared/search_filter_job_section.html' %}
    </section>

    {% include 'shared/choose_category_section.html' %}

    <div class="why_rent_a_hand_outer_box">
        <div class="why_rent_a_hand">
            <div class="why_rent_a_hand_img">
                <img src="/static/images/home-picture-2.png" alt="work_to_be_done">
            </div>

            <div class="why_rent_a_hand_text">
                <h2>Защо Rent A Hand?</h2>
                <p>Работа в удобно за Вас време.</p>
                <h4>Идеална възможност за:</h4>

                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Всички търсещи работа</p>
                </div>

                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Студенти, хора на свободна практика и всички, които искат да изкарат допълнителни
                        доходи</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Тези, които искат да споделят своите умения и да намерят клиенти</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Хора, които имат нужда от специалист, да помогне за всичко свързано
                        с дома или работното място</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Фирми, които търсят точния човек за техните нужди</p>
                </div>

                <h4>Ние осигуряваме:</h4>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Лесен начин вашите умения да достигнат до потенциални клиенти или до подходящ работодател</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Платформа, в която можете да намерите подходящия човек за вашите изисквания</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Екип, който да се погрижи целия работен процес да е изряден</p>
                </div>
            </div>
        </div>
    </div>


    {% include 'shared/footer.html' %}
{% endblock %}

