{% extends 'shared/navigation_bar.html' %}

{% block content %}
    {% include 'messages/general_message_template.html' %}

    <section class="main_upper_section">
        <div class="main_upper_section_text">
            <h1>По-лесният начин за работа</h1>

            <p>С нас работиш, когато искаш и колкото поискаш. Без дългосрочни договори и излишни
                интервюта.</p>
        </div>

        <img src="/static/images/home-picture.png" alt="main_upper_section_img">
    </section>

    {% if looking_for_people_jobs %}
        {% with looking_for_people_jobs as jobs %}
            <p class="main_page_subtitles">Най-нови обяви за работа</p>
            {% include 'shared/jobs_context_box.html' %}
        {% endwith %}
    {% endif %}

    <br/><br>
    <hr style="max-width: 1200px">

    {% if offer_jobs %}
        {% with offer_jobs as jobs %}
            <p class="main_page_subtitles">Най-нови обяви в Предлагам Услуга</p>
            {% include 'shared/jobs_context_box.html' %}
        {% endwith %}
    {% endif %}

    <div class="why_rent_a_hand_outer_box">
        <div class="why_rent_a_hand">
            <div class="why_rent_a_hand_img">
                <img src="/static/images/home-picture-2.png" alt="work_to_be_done">
            </div>

            <div class="why_rent_a_hand_text">
                <h2>Защо Rent A Hand?</h2>
                <p>Работа в удобно за Вас време.</p>
                <h4>Идеална възможност за:</h4>

                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Всички търсещи работа без дългосрочни договори</p>
                </div>

                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Студенти, хора на свободна практика и всички, които искат да изкарат допълнителни
                        доходи</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Тези, които искат да споделят своите умения и да намерят клиенти</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Хора, които имат нужда от човек, да помогне за всичко свързано
                        с дома или работното място</p>
                </div>

                <h4>Ние осигуряваме:</h4>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Лесен начин вашите умения да достигнат до потенциални клиенти</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Платформа, в която можете да намерите подходящия човек за вашите изисквания</p>
                </div>
                <div class="sub_points">
                    <img src="/static/images/check.png" alt="check">
                    <p>Екип, който да се погрижи целия работен процес да е изряден</p>
                </div>
            </div>
        </div>
    </div>


    {% include 'shared/footer.html' %}
{% endblock %}

