{% include 'shared/navigation_bar.html' %}

{% block content %}
    <link rel="stylesheet" href="/static/css/pricing_style.css">
    <link rel="stylesheet" href="/static/css/accordion.css">
    <script src="/static/js/button_management.js" defer></script>

    <div class="pricing">
        <div class="pricing_title">
            <p class="title_1">План & Ценови Лист</p>
            <p class="title_2">Имаме план за всеки потребител</p>
            <p class="title_3">Независимо дали си фирма или потребител.</p>
        </div>
        <div class="button_wrapper">
            <button class="btn_packages_active" id="standard_packages">Стандартни Пакети</button>
            <button class="btn_packages_inactive" id="personalised_packages">Персонализирани Пакети</button>
        </div>
        <div class="standard_packages_section" id="standard_packages_section">
            <div class="pricing_info_section">
                <div class="pricing_info_subsection">
                    <img class="packages_picture" src="/static/images/baby.png" alt="img">
                    <p class="package">Безплатен</p>
                    <p class="price">0лв.</p>
                    <p>/месец</p>
                    <p class="includes">Включва:</p>
                    <p class="add_info"><strong>1</strong> обява за срок от 30 дни</p>
                    <div class="button_wrapper extra_position">
                        <button class="btn_choose"><a href="{% url 'landing-checkout' 1 %}">Избери</a></button>
                    </div>
                </div>
                <div class="pricing_info_subsection">
                    <img class="packages_picture" src="/static/images/human.png" alt="img">
                    <p class="package">Стандартен</p>
                    <p class="price">5,99лв.</p>
                    <p>/месец</p>
                    <p class="includes">Включва:</p>
                    <p class="add_info">до <strong>3</strong> обяви за целия абонаментен период</p>
                    <p class="add_info">Подредба на челна позиция с други обяви в общата категория.</p>
                    <p class="add_info">По един пост месечно на обявата в нашите социални мрежи.</p>
                    <div class="button_wrapper">
                        <button class="btn_choose"><a href="{% url 'landing-checkout' 2 %}">Избери</a></button>
                    </div>
                </div>
                <div class="pricing_info_subsection">
                    <img class="packages_picture" src="/static/images/robot.png" alt="img">
                    <p class="package">Премиум</p>
                    <p class="price">19,99лв.</p>
                    <p>/месец</p>
                    <p class="includes">Включва:</p>
                    <p class="add_info"><strong>Неограничен брой</strong> обяви за целия абонаментен период</p>
                    <p class="add_info">Подредба на челна позиция с други обяви в общата категория.</p>
                    <p class="add_info">Всяка седмица пост на обявата в нашите социалните мрежи.</p>
                    <div class="button_wrapper">
                        <button class="btn_choose"><a href="{% url 'landing-checkout' 3 %}">Избери</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="personalised_packages_section" id="personalised_packages_section">
            <div class="pricing_info_section">
                <div class="pricing_info_subsection">
                    <img class="packages_picture" src="/static/images/businesspng.png" alt="img">
                    <p class="package padding_added">Персонализиран за вашите нужди</p>
                    <p class="includes">Включва:</p>
                    <p class="add_info">По договаряне</p>
                    <div class="button_wrapper extra_position">
                        <button class="btn_choose"><a href="{% url 'contacts' %}">Свържи се с нас</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br>
    <h2>Често Задавани Въпроси?</h2>
    <br/><br>
    <div class="accordion-wrapper">
        <div class="accordion">
            <input type="radio" name="radio-a" id="check1" checked>
            <label class="accordion-label" for="check1">Как мога да платя за месечен абонамент?</label>
            <div class="accordion-content">
                <p>Плащането се извършва само чрез кредитна/дебитна карта.</p>
            </div>
        </div>
        <div class="accordion">
            <input type="radio" name="radio-a" id="check2">
            <label class="accordion-label" for="check2">Предлагате ли безплатен тестов период?</label>
            <div class="accordion-content">
                <p>Всички регистрирани потребители автоматично получават нашията безплатен
                    пакет, който ви дава възможносто да споделите 1 обява за срок от 30 дни.</p>
            </div>
        </div>
        <div class="accordion">
            <input type="radio" name="radio-a" id="check3">
            <label class="accordion-label" for="check3">Мога ли да прекратя плана си предварително?</label>
            <div class="accordion-content">
                <p>Можете да прекратите абонамента си по всяко едно време.</p>
            </div>
        </div>
        <div class="accordion">
            <input type="radio" name="radio-a" id="check4">
            <label class="accordion-label" for="check4">Друг Въпрос?</label>
            <div class="accordion-content">
                <p>При други въпроси, моля свържете се с нас!</p>
            </div>
        </div>
    </div>
    <br/><br>


    {% include 'shared/footer.html' %}
{% endblock %}