{% include 'shared/navigation_bar.html' %}

{% block content %}
    <link rel="stylesheet" href="/static/css/login_page.css">
    <link rel="stylesheet" href="/static/css/search-page.css">

    <form class="form-input-search" method="post" action="{% url 'search all pages' %}">
        {% csrf_token %}
        <input class="" type="search" placeholder="Търси в обяви" aria-label="Search" name="searched">
        <button class="share-button search-button" type="submit"><span class="iconify" data-icon="bi:search"></span>
        </button>
    </form>

    {% if searched_text %}
        <h4>Ключова дума / израз - '{{ searched_text }}'</h4>
    {% else %}
        <h4>Моля въведете дума или израз за търсене.. :)</h4>
    {% endif %}
    {% if jobs %}
        {% include 'shared/jobs_context_box.html' %}
    {% endif %}
    {% if not jobs and searched_text %}
        <p style="text-align: center;">
            Нищо не е намерено за тази дума / израз.. :(
        </p>
    {% endif %}

{% endblock %}