{% extends 'shared/navigation_bar.html' %}

{% block content %}

    <link rel="stylesheet" href="/static/css/job_details_page.css">

    <div class="main_wrapper">
        <div class="job_main_section">
            <div class="name_section">
                <img src="{{ job.user.profilemodel.profile_photo.url }}">
                <div class="name_sub_section">
                    <a href="{% url 'profile' current_user.id %}">{{ job.user.username }}</a>
                    <span>{{ job.work_category }}</span>
                </div>
            </div>

            <div class="job_description">
                <p class="job_description_title">{{ job.title }}</p>
                <p class="job_description_text">{{ job.description|safe }}</p>
            </div>

            <div class="additional_info_likes_section">
                <div class="last_edited_on">
                    <p class="last_edited_on_text">Последно редактиран на:</p>
                    <p class="last_edited_on_date">{{ job.last_modified|date }}
                        <small>{{ job.last_modified|time }}</small></p>
                </div>

                <div class="likes_section">
                    <p>Харесвания: {{ job.total_likes }}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'like job' job.id %}">
                            {% if is_liked %}
                                <i class="fa fa-heart" aria-hidden="true" style="color: orangered;"></i>
                            {% else %}
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="additional_info_place_category_wage">
                <p class="additional_info_place_category_wage_title">Населено място</p>
                <span class="additional_info_place_category_wage_info">{{ job.city }}</span>
                <p class="additional_info_place_category_wage_title">Категория</p>
                <span class="additional_info_place_category_wage_info">{{ job.work_category }}</span>
                <p class="additional_info_place_category_wage_title">Заплащане</p>
                {% if job.salary %}
                    <span class="additional_info_place_category_wage_info">{{ job.salary }}</span>
                    <small>лв. {{ job.salary_type }}</small>
                {% else %}
                    <span class="additional_info_place_category_wage_info">{{ job.salary_type }}</span>
                {% endif %}
                <p class="additional_info_place_category_wage_title last">Прикачени файлове</p>
                <img src="{{ job.image.url }}" alt="job_img">
            </div>

            {% if job.user.id == user.id %}
                <div class="edit_section_buttons">
                    <button class="button edit"><a href="{% url 'update job' job.id %}">Редактирай</a></button>
                    <button class="button delete"><a href="{% url 'delete job' job.id %}">Изтрий</a></button>
                </div>
            {% endif %}

            {% if user.is_authenticated %}
                <div class="apply_section">
                    {% if job.work_type == 'Предлагам Услуга' %}
                        <button class="button apply"><a href="{% url 'connect' job.id %}">Свържи се</a></button>
                    {% else %}
                        <button class="button apply"><a href="{% url 'apply' job.id %}">Кандидатствай</a></button>
                    {% endif %}

                </div>
            {% endif %}
        </div>

        <div class="comments_section">
            <p class="total_comments">Коментари: {{ job.comments_set.count }}</p>

            {% for comment in job.comments_set.all %}
                <div class="user_section">
                    <img src="{{ comment.user.profilemodel.profile_photo.url }}" alt="profile_img">
                    <div class="user_comment_section">
                        <p class="comment_user"><a
                                href="{% url 'profile' comment.user.profilemodel.user_id %}">{{ comment.user.username }}</a>
                        </p>
                        <p class="actual_comment">{{ comment.comment }}</p>
                        <small>{{ comment.date_added }}</small>
                        {% if user.id == comment.user_id %}
                            <small><a href="{% url 'delete comment' comment.pk %}">Изтрий Коментар</a></small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if user.is_authenticated %}
                <form method="post" action="{% url 'post comment' job.id %}">
                    <div class="media-body">
                        {% csrf_token %}
                        <input type="text" class="" placeholder="Добави Коментар..." name="comment">
                        <div class="right_align">
                            <button type="submit" class="button apply">Публикувай</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}