.form {
    margin: 5rem auto;
    padding: 3rem 1rem;
    max-width: 50rem;
    border: 1px solid rgb(213, 218, 223);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
}

.form > img {
    max-width: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.img-2 {
    margin-top: 50px;
}