.main_upper_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #cde0ef;
    margin-top: 5rem;
}

.main_upper_section_text {
    max-width: 31%;
}

.main_upper_section_text p, h1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.main_upper_section_text h1 {
    font-size: 55px;
}

.main_upper_section_text p {
    font-size: larger;
}

.main_upper_section img {
    max-width: 35%;
}

.main_page_subtitles {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}

/* phones and tablets currently */
@media screen and (max-width: 768px) {
    .main_upper_section {
        flex-direction: column;
        text-align: center;
        /*margin: 0;*/
    }

    .main_upper_section_text {
        max-width: 80%;
    }

    .main_upper_section_text h1 {
        font-size: 20px;
        margin: 0;
    }

    .main_upper_section_text p {
        font-size: 11px;
    }

    .main_upper_section img {
        margin: 0;
    }
}

.fixed_container {
    position: fixed;
}