.main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 3rem auto;
}

.choose_category {
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.content-box i {
    color: #146CB4;
}

.content-box h6 {
    color: #146CB4;
}

.content-box > img {
    max-width: 15rem;
}

.content-box {
    transition: transform .1s;
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 16px;
    /*border: 1px solid #146CB4;*/
    background: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px 24px;
    margin-right: 18px;
    max-width: 20rem;
}


.content-box:hover {
    transform: scale(1.05);
}

/* tablets */
@media screen and (max-width: 768px) {
    .main-row {
        flex-direction: column;
        row-gap: 2rem;
    }
}