html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /*font-size: 16px;*/
}

.profile_page {
    font-size: 16px;
}

.profile_img {
    text-align: center;
    box-shadow: 0px 15px 40px #eaf0f7;
    border-radius: 0 0 20px 20px;
    max-width: 800px;
    margin: 5rem auto 5rem;
}

.my_profile_header {
    position: absolute;
    font-weight: 400;
}

.name_header {
    font-weight: 600;
}

.profession, .registration_date {
    font-weight: 300;
}

.profile_img > img {
    max-width: 20%;
    object-fit: contain;
    clip-path: circle(37%);
}

.social_media_links {
    display: flex;
    justify-content: space-around;
}

.social_media_links a, p {
    text-decoration: none;
    color: inherit;
    margin-left: 5px;
    font-weight: 300;
}

.fa-home {
    color: #1fad83;
}

.fa-facebook, .fa-linkedin {
    color: #2e9ad0;
}

.fa-instagram {
    color: #ca402b;
}

.edit_section {
    text-align: center;
    box-shadow: 10px -15px 40px #eaf0f7;
    border-radius: 0 0 20px 20px;
    max-width: 800px;
    margin: 0 auto 50px;
    padding-top: 1rem;
}

.edit_section > img {
    width: 1rem;
}

.edit_section > .fa-pencil-square-o {
    color: #146cb4;
}

.edit_section_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-bottom: 1rem;
}

.edit_section_buttons > a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}

.edit_section_buttons > a:hover {
    color: #146cb4;
}

.subscription_section {
    text-align: center;
    box-shadow: 0 -15px 40px #eaf0f7;
    border-radius: 0 0 20px 20px;
    max-width: 800px;
    margin: 0 auto 50px;
    padding-top: 1rem;
}

.subscription_section > .fa-address-card-o {
    color: #f37327;
}

.subscription_section_sub {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bolder {
    font-weight: 400;
}

.subscription_section_sub > p > a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .profile_img > img {
        max-width: 30%;
    }
}