<link rel="stylesheet" type="text/css" href="/static/css/jobs-main-page.css">

<p class="choose_category">Избери Категория</p>

<div class="main-row">

    <div class="content-box" onclick="location.href='{% url 'all jobs' %}'">
        <img src="/static/images/cv.png" alt="img">
        <br>
        <h6>ТЪРСЯ ХОРА</h6>
    </div>


    <div class="content-box" onclick="location.href='{% url 'all jobs' %}'">
        <img src="/static/images/become-partner-2.png" alt="img">
        <br>
        <h6>ПРЕДЛАГАМ УСЛУГА</h6>
    </div>
</div>