<div class="footer">
    <div class="footer_rent_a_hand">
        <p class="footer_mini_header">RENT A HAND</p>
        <img src="/static/images/logo.png" alt="logo">
        <p class="footer_mini_text">По-лесният начин за работа!</p>
    </div>

    <div class="footer_pages">
        <p class="footer_mini_header">СТРАНИЦИ</p>
        <p class="footer_mini_text is_link"><a href="{% url 'home' %}">Начало</a></p>
        <p class="footer_mini_text is_link"><a href="{% url 'search jobs' %}">Потърси Работа</a></p>
        <p class="footer_mini_text is_link"><a href="{% url 'contacts' %}">Контакти</a></p>
        {% if user.is_authenticated %}
            <p class="footer_mini_text is_link"><a href="{% url 'profile' user.id %}">Профил</a></p>
        {% else %}
            <p class="footer_mini_text is_link"><a href="{% url 'login' %}">Профил</a></p>
        {% endif %}
    </div>

    <div class="footer_links">
        <p class="footer_mini_header">ВРЪЗКИ</p>
        <p class="footer_mini_text is_link"><a
                href="https://www.facebook.com/Rent-A-Hand-Bulgaria-101820744973512">Facebook</a></p>
        <p class="footer_mini_text is_link"><a href="https://www.instagram.com/rent_a_hand_bulgaria/">Instagram</a>
        </p>
        <p class="footer_mini_text is_link"><a href="https://www.linkedin.com/company/67198457/">LinkedIn</a></p>
        <p class="footer_mini_text is_link"><a href="ttps://www.linkedin.com/company/67198457/">Twitter</a></p>
    </div>

    <div class="footer_contacts">
        <p class="footer_mini_header">КОНТАКТИ</p>
        <p class="footer_mini_text"><i class="fas fa-envelope mr-3 email"></i> rentahandbg@gmail.com</p>
        <p class="footer_mini_text"><i class="fas fa-phone mr-3 phone"></i> 0882 288 911</p>
        <p class="footer_mini_text"><i class="fas fa-phone mr-3 phone"></i> 0884 523 171</p>
    </div>
</div>

<hr>
<div class="sub_footer">
    <div class="sub_footer_copyright">
        <p>© 2021 Copyright:<a href="{% url 'home' %}"><strong> rentahandbg.com</strong></a></p>
    </div>

    <div class="sub_footer_links">
        <ul class="">
            <li class=""><a class=""><i class="fab fa-facebook-f"></i></a></li>
            <li class=""><a class=""><i class="fab fa-twitter"></i></a></li>
            <li class=""><a class=""><i class="fab fa-google-plus-g"></i></a></li>
            <li class=""><a class=""><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>
</div>