<div class="job_box_section">
    {% for job in jobs %}
        <div class="job_box filterDiv {{ job.work_category }}">
            <div class="job_box_img">
                <img src="{{ job.image.url }}" alt="job_img">
            </div>
            <div class="job_box_title">
                <p>{{ job.title }}</p>
                <a class="job_box_like" href="{% url 'details job' job.id %}"><i class="fa fa-heart"></i></a>
            </div>
            <p class="job_box_city">{{ job.city }}</p>
            <a href="{% url 'details job' job.id %}" class="job_box_button"> Виж Повече</a>
        </div>
    {% endfor %}
</div>

