<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/7f0cbe3ece.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>

    <link rel="icon" type="image/png" href="/static/images/main_icon.jpg">
    <title>{% block head_title %}Портал за Работа{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/home_page.css">
    <link rel="stylesheet" href="/static/css/job_box_style.css">
    <link rel="stylesheet" href="/static/css/navigation_bar_style.css">
    <link rel="stylesheet" href="/static/css/why_rent_a_hand_section_style.css">
    <link rel="stylesheet" href="/static/css/footer_style.css">

</head>
<body>

<div class="navigation">
    <a href="{% url 'home' %}">
        <img src="/static/images/logo.png" class="nav_bar_img" alt="logo">
    </a>

    <a href="{% url 'home' %}">Начало</a>
    <a href="{% url 'all jobs' %}">Обяви</a>
    {#    <a href="{% url 'business-clients' %}">Бизнес Клиенти</a>#}
    <a href="{% url 'pricing-list' %}">План</a>

    {% if user.is_authenticated %}
        {#        <div class="dropdown">#}
        {#            <button>Профил</button>#}
        {#            <div class="dropdown_menu">#}
        {#                <button><a href="{% url 'profile' user.id %}">Профил</a></button>#}
        {#                <button><a href="{% url 'logout' %}">Изход</a></button>#}
        {#            </div>#}
        {#        </div>#}

        <a href="{% url 'profile' user.id %}">Профил</a>
        <a href="{% url 'logout' %}">Изход</a>
    {% else %}
        <button class="create_job entry" type="submit">
            <a href="{% url 'login' %}">Вход</a>
        </button>
    {% endif %}

    <button class="share-button search-button" type="submit">
        <a href="{% url 'search all pages' %}"><span class="iconify" data-icon="bi:search">
            Създай обява
        </span></a>
    </button>

    {% if user.is_authenticated %}
        <button class="create_job" type="submit">
            <a href="{% url 'create job' %}">Създай обява</a>
        </button>
    {% endif %}

</div>

{% block content %}
    {# actual content here #}
{% endblock %}

</body>
</html>