<link rel="stylesheet" type="text/css" href="/static/css/filter_jobs_style.css">

<section class="search_filter_section">
    <h2>Потърси обяви</h2>

    <form class="form-input-search" method="post" action="{% url 'search all pages' %}">
        {% csrf_token %}
        <input class="" type="search" placeholder="Търси в обяви" aria-label="Search" name="searched">
        {#        <button class="share-button search-button" type="submit"><span class="iconify" data-icon="bi:search"></span>#}
        {#        </button>#}
    </form>

    <form action="{% url 'all jobs' %}">
        <div class="fieldWrapper">
            <label for="{{ form.work_category.id_for_label }}">Категория:</label>
            {{ form.work_category }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.work_type.id_for_label }}">Тип обява:</label>
            {{ form.work_type }}
        </div>
        <button type="submit" class="btn_submit">Търси</button>
    </form>
</section>